<html lang="ja">
<font color="red">
    <head>
    <meta charset="utf-8">
    <title>HTML入門-フォームの作成</title>
    <body>
        <div>
            <form method="post" action="test.html">
            <h1><center>アカウント作成</center></h1>
            <p>ID</p>
            <input type="text" maxlength="10" placeholder="account">
            <p>性別</p>
               <input type="text" placeholder="男">
            <p>年齢</p>
                <input type="text" placeholder="20">
            <p>花粉歴</p>
                <input type="text" placeholder="5">
            <p><input type="submit" value="会員登録を行う"></p>
            </form>
        </div>
    </body>
</html>